pymongo[srv]==4.2.0
boto3
autopep8
flake8
pylint
black
pandas
certifi
datetime
scikit-learn
seaborn
typing
scipy
ruamel.yaml
imblearn
PyYAML
xgboost
pytest-shutil
shutils
dill
fastapi
uvicorn
python-dotenv
dataclasses
python-multipart
Python-IO